* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "BodoniXT", serif;
  --secondary-font: "DM Sans", sans-serif;
  --tertiary-font: "Inconsolata", monospace;
  --logo-font: "Stamp RSPK One";
  --color-black: #000;
  --color-matte-black: #28282b;
  --color-matte-black-2: #1c1c1c;
  --color-white: #fff;
  --color-maroon: #ac2525;
  --color-dark-maroon: #820300;
  --color-very-light-grey: #d1d1d1;
  --color-light-grey: #c0c0c0;
  --color-dark-grey: #505050;
  --color-dark-grey-2: #6c6c6c;
  --color-brass: #e4c59e;
  --color-beige: #f8fae5;
  --color-brown: #803d3b;
  --color-coffee: #f1dbbf;
  --color-red: #ff4c4c;
  --color-green: #80af81;
  --color-blue: #7fa1c3;
  --color-orange: #ef9c66;
  --color-cyan: #78aba8;
  --color-gold: #fcdc94;
}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--secondary-font);
}

a {
  cursor: pointer;
  text-decoration: none;
}

span {
  font-size: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.bold {
  font-weight: 600;
}

.hideButton {
  display: none;
}

h1 {
  font-family: var(--primary-font);
  font-size: 76px;
  font-weight: 500;
}

nav .logoDiv ul img {
  height: auto;
  width: 5rem;
}

nav {
  width: 100%;
  background-color: var(--color-maroon);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--tertiary-font);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9999;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  height: 5em;
}

nav li:first-child {
  margin-right: auto;
}

nav li:first-child img {
  height: auto;
  width: 5em;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

nav a .icon {
  height: auto;
  width: 20px;
  padding: 0 2px;
  margin-right: 15px;
}

nav li:not(:first-child) a:hover {
  background-color: var(--color-dark-maroon);
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* From https://css.glass */
  background: rgba(172, 37, 37, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.7px);
  -webkit-backdrop-filter: blur(15.7px);
}

.sideBar li,
.sideBar a {
  width: 100%;
}

header .headerBg,
header .sourcesBg,
header .associatedWebsitesBg,
header .literatureBg,
header .professionalsInTheFieldBg {
  height: 100vh;
  position: relative;
  text-align: center;
}

header img,
header article img {
  height: 100%;
  width: 100%;
  filter: brightness(20%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-position: center;
  object-fit: cover;
}

header .headerContent,
header .sourcesContent,
header .professionalsInTheFieldContent,
header .assocWebHeaderContent,
header .literatureHeaderContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .headerContent .backgroundText {
  font-family: var(--primary-font);
  font-size: 76px;
  display: block;
  color: var(--color-white);
}

header .headerContent .proceedBtnDiv,
.scrollDownBtn {
  width: 100%;
  padding: 20px 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .headerContent .proceedBtnDiv a {
  width: 10rem;
  font-family: var(--tertiary-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-white);
  letter-spacing: 2px;
  transition: 0.5s ease-in-out;
}

header .headerContent .proceedBtnDiv a:hover {
  text-decoration: underline;
}

header .headerBg .backgroundText span {
  color: var(--color-maroon);
  font-size: inherit;
}

.introSection {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 20px;
  font-size: 1.5em;
}

.introSection .introContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  color: var(--color-black);
}

.introSection .imgDiv {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.introSection h1 {
  color: var(--color-maroon);
}

.introSection p,
.aboutSection p {
  margin: 20px 0;
}

.aboutSection {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-maroon);
  color: var(--color-white);
  font-size: 1.5em;
  padding: 50px 20px;
}

.introSection .introContent,
.aboutSection .aboutContent {
  width: 40%;
}

.introSection .imgDiv img,
.aboutSection .imgDiv img {
  height: auto;
  width: 400px;
}

.aboutContent p span {
  font-weight: bold;
  font-style: italic;
}

footer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #191919,
    #2a2a2a,
    #3c3c3c,
    #505050
  );
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.topFooter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 40px;
}

.topFooter .logo {
  height: auto;
  width: 150px;
}

.topFooter .footerContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.topFooter .footerContent h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.topFooter .footerContent li {
  list-style-type: none;
  margin: 15px 0;
}

.topFooter .footerContent a {
  color: var(--color-white);
  font-weight: 300;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.linksContainer a:hover {
  color: var(--color-maroon);
}

.linksContainer,
.contactInfoContainer {
  padding: 0 20px;
}

.contactInfoContainer .contactInfo .icon {
  height: auto;
  width: 20px;
  padding: 0 2px;
  margin-right: 5px;
}

.bottomFooter {
  color: var(--color-light-grey);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.showOnLinksMobile {
  display: none;
}

/***sources.html****/

.sourcesBg {
  height: 100vh;
}

.sourcesContent {
  color: var(--color-white);
}

.sourcesContent h1 {
  color: var(--color-brass);
  padding: 5px 0;
}

.sourcesContent .backgroundText {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sourcesContent .backgroundText p {
  line-height: 1.5;
  margin: 15px 0;
  width: 60%;
}

.sourcesBtnContainer {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.topSource {
  display: flex;
  gap: 20px;
}

a.sourceLink {
  font-family: var(--tertiary-font);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  padding: 10px 25px;
  width: 100%;
  background: rgb(98, 98, 98);
  background: linear-gradient(
    0deg,
    rgba(98, 98, 98, 0.7459954233409611) 15%,
    rgba(49, 49, 49, 0.7459954233409611) 100%
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
}

.sourceIcon {
  padding: 6px 0;
}

.sourceText {
  text-align: left;
  width: 100%;
}

a.sourceLink:hover {
  background: rgb(104, 104, 104);
  background: linear-gradient(
    0deg,
    rgba(104, 104, 104, 0.5034324942791761) 15%,
    rgba(255, 255, 255, 0.49656750572082375) 100%
  );
  border: 0.5px solid white;
  transition: all 0.5s ease;
}

.sourceSection {
  background-color: var(--color-matte-black);
  height: 100vh;
}

#siteLinkSection {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-very-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
}

header.literatureHeader h1,
header.associatedWebsitesHeader h1 {
  color: var(--color-coffee);
}

.roundedLogo {
  height: auto;
  width: 150px;
  border-radius: 100%;
  object-position: center;
}

.sectionHeader {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: inherit;
  align-self: flex-start;
  padding: 10px 50px;
}

.sectionHeader h2 {
  font-size: 180%;
  font-weight: 600;
}

.siteLinksContainer {
  max-width: 1200px;
}

.siteLinksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px;
}

.siteLinkCard {
  border-radius: 15px;
  min-height: 100%;
  width: 100%;
  background: var(--color-white);
  box-shadow: -1px 5px 4px -2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: -1px 5px 4px -2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -1px 5px 4px -2px rgba(0, 0, 0, 0.24);
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.siteLinkCard h3 {
  font-size: 130%;
  font-weight: 500;
}

.siteDescription {
  width: 100%;
}

.siteLinkCard p {
  text-align: justify;
  white-space: pre-line;
  line-height: 1.25;
  width: 100%;
}

.siteLinkCard .siteDescription p span {
  display: block;
}

.siteLinkBtn {
  width: 65%;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.siteLinkBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.siteLinkCard p,
.siteLinkCard a {
  font-size: 100%;
}

.siteInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siteInfo p {
  color: var(--color-dark-grey-2);
}

.siteLogo {
  align-self: center;
}

.scrollDownBtn a {
  width: 60%;
  font-family: var(--tertiary-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-white);
  letter-spacing: 2px;
  transition: 0.5s ease-in-out;
}

.scrollDownBtn a:hover {
  text-decoration: underline;
}

/** Literature & Associated Websites **/

.assocWebHeaderContent,
.literatureHeaderContent {
  color: var(--color-white);
}

.assocWebHeaderContent .backgroundText,
.literatureHeaderContent .backgroundText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.assocWebHeaderContent .backgroundText h1,
.literatureHeaderContent .backgroundText h1 {
  font-size: 400%;
}

.assocWebHeaderContent .backgroundText p,
.literatureHeaderContent .backgroundText p {
  width: 60%;
  font-size: 120%;
}

.literatureHeaderContent .backgroundText p {
  white-space: pre-wrap;
  line-height: 1;
}

.literatureHeaderContent .backgroundText p span {
  display: block;
}

.siteLinkCard .siteTitle p {
  color: var(--color-light-grey);
}

/* Media Queries */

/** For Desktops, Large screens **/

@media screen and (max-width: 1200px) {
  header img {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-position: center;
    object-fit: cover;
  }

  .siteLinkCard {
    min-height: 100%;
    width: 100%;
    display: grid;
    gap: 20px;
  }

  .siteLinkCard h3 {
    margin-bottom: 5px;
  }

  .siteLinkCard .siteTitle p {
    margin: 15px 0;
  }
}

/** For Small screens and Laptops **/

@media screen and (max-width: 1024px) {
  header .literatureHeaderContent .backgroundText svg {
    height: auto;
    width: 100px;
  }

  .introSection h1,
  .aboutSection h1 {
    font-size: 220%;
  }
  .introSection p,
  .aboutSection p {
    font-size: 16px;
  }

  .introSection p span,
  .aboutSection p span {
    font-size: inherit;
  }

  .introSection .imgDiv img,
  .aboutSection .imgDiv img {
    height: auto;
    width: 320px;
  }
}

/** For iPads and Tablets **/

@media screen and (max-width: 768px) {
  h1 {
    font-size: 250%;
  }

  h2,
  h3 {
    font-size: 200%;
  }

  p,
  a,
  li,
  span,
  .sourceText {
    font-size: 80%;
  }

  .introSection .imgDiv {
    order: 1;
  }
  .introSection .introContent {
    align-items: center;
    order: 2;
  }
  .columnFlexMobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textAlignMobile {
    text-align: center;
  }
  .introSection .imgDiv img,
  .aboutSection .imgDiv img {
    height: auto;
    width: 200px;
  }
  .introSection .introContent,
  .aboutSection .aboutContent {
    width: 65%;
    padding: 10px 5px;
  }

  .assocWebHeaderContent .backgroundText h1,
  .literatureHeaderContent .backgroundText h1 {
    font-size: 300%;
  }

  .assocWebHeaderContent .backgroundText p,
  .literatureHeaderContent .backgroundText p {
    width: 80%;
    font-size: 100%;
  }

  footer {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 100%;
    padding: 25px 0;
  }

  .topFooter {
    display: block;
    text-align: center;
    padding: 40px;
  }

  .topFooter .logo {
    height: auto;
    width: 150px;
    padding: 20px 0;
  }

  .topFooter .footerContent {
    display: block;
  }

  .topFooter .footerContent h4 {
    font-size: 16px;
    margin: 0;
  }

  .linksContainer,
  .contactInfoContainer {
    padding: 10px 0;
  }

  .bottomFooterOnMobile {
    display: block;
    text-align: center;
  }

  .bottomFooterOnMobile div {
    margin: 10px 0;
  }

  .linksMenuOnMobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linksMenuOnMobile li:not(:last-of-type) {
    margin-right: 24px;
  }

  .showOnLinksMobile {
    display: inline-block;
  }

  .hideOnMobile {
    display: none;
  }

  .hideButton {
    display: block;
  }

  .decreaseOnMobile {
    font-size: 50%;
  }

  .sourcesBtnContainer {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .topSource {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 12.5em;
  }

  .siteLinkCard {
    min-width: 500px;
  }

  .siteLinkCard h3 {
    font-size: 100%;
  }

  .siteLinkCard .siteTitle p,
  .siteLinkBtn a {
    font-size: 80%;
  }

  .siteLogo img {
    height: auto;
    width: 30%;
  }

  .scrollDownBtn svg,
  .sectionHeader svg {
    display: none;
  }

  header .literatureHeaderContent .backgroundText svg {
    height: auto;
    width: 15%;
  }
}

/** For Mobile Devices **/

@media screen and (max-width: 480px) {
  p,
  a,
  li,
  .sourceText {
    font-size: 75%;
  }

  .headerBg p.decreaseOnMobile {
    padding: 0 25px;
    font-size: 40%;
  }

  .introSection .introContent h1,
  .aboutSection .aboutContent h1 {
    font-size: 180%;
  }

  .introSection .introContent,
  .aboutSection .aboutContent {
    width: 85%;
    padding: 10px 5px;
  }

  .sectionHeader h2 {
    text-align: center;
  }

  .sideBar {
    width: 100%;
  }

  .siteLinkCard {
    min-width: 300px;
  }

  .siteLogo img {
    height: auto;
    width: 50%;
  }

  header .literatureHeaderContent .backgroundText svg {
    height: auto;
    width: 20%;
  }
}

header .professionalsInTheFieldContent .backgroundText {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

header .professionalsInTheFieldContent .backgroundText h1 {
  font-size: 72px;
  color: var(--color-gold);
}

header .professionalsInTheFieldContent .backgroundText p {
  font-size: 18px;
  width: 75%;
}
